body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/bg.jpg') no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    position: relative;
    height: 600px;
    width: 450px;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.5s;
}
.card-wrapper:hover {
    box-shadow: 0 0 30px #fff;
}
.card-wrapper:hover .card {
    top: 0;
}
.card {
    position: absolute;
    top: -101%;
    height: 100%;
    width: 100%;
    background: linear-gradient(190deg, rgba(21, 199, 30, 0.8) 50%, rgba(233, 67, 67, 0.8) 0);

    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* delay 1s */
    transition: top 0.3s 0.5s;
}
.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 15px;
    object-fit: cover;
    padding: 10px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 5);
}

.card-heading {
    font-family: "Source Code Pro',monospace";
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* background: linear-gradient(#0a9751, #06831b); */
    background-color: #444;
    width: 70%;
    text-align: center;
    padding: 6px 0;
    transform: perspective(1000px) skewX(-20deg) rotateY(40deg);
}

.card-des {
    color: #ddd;
    font-size: 18px;
    text-align: justify;
    width: 85%;
    position: relative;
}
.card-des::first-letter {
    margin-left: 40px;
}
.card-des i {
    font-size: 25px;
    font-style: italic;
    position: absolute;
}
.card-des i:first-child {
    top: -10%;
}
.card-des i:last-child {
    bottom: -10%;
    margin-left: 10px;
}

.card-icons {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.card-icon-link {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.3s;
}
.card-icon-link:hover {
    border-color: #1b5cf5;
}
.card-icon {
    font-size: 20px;
    color: #fff;
    transition: all 0.3s;
}
.card-icon-link:hover .card-icon {
    color: #1b5cf5;
}

.card-btn {
    width: 150px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: linear-gradient(#6837ee, #0d2b7e);
    color: #ddd;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 5);
}
